/*   Full screen transparent overlay container for highlighting*/
.vocs_overlay {
    /*position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-color: transparent;
    cursor: pointer;
    z-index: 2000;
}
/*****************************************
   highlighting for many selected Elements
 */
.vocs_multiple_select_wrapper_container{
    position: absolute;
}
.vocs_multiple_select_wrapper {
    padding: 10px 0 10px 0;
    position:relative !important;
    box-shadow: 0 0 5px #2f2f2f !important;
    min-width: 70px !important;
    z-index: 2000;
    border: 3px solid #48b1ff;
    opacity: 0.7;
}

.vocs_multiple_select_wrapper[data-number]:after {
    content:attr(data-number);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size: 1.1em;
    background: #474747;
    color:white;
    width:30px;
    height:30px;
    text-align:center;
    line-height: 26px;
    border: 2px solid white;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    z-index: 2000;
}
/*
   highlighting for many selected Elements
 ***********************************************/

/*****************************************
   Custom select Container
 */
.vocs_select_options_container{
    border: 3px solid #48b1ff;
    position: absolute;
   /* border: solid 2px #b8b8b8;*/
    border-radius: 3px;
    width: 200px;
    max-height: 250px;
    overflow: auto;
    z-index: 2000;
    background-color: white;
    -webkit-box-shadow: 0 0 49px 9px rgba(153,153,153,1);
    -moz-box-shadow: 0 0 49px 9px rgba(153,153,153,1);
    box-shadow: 0 0 49px 9px rgba(153,153,153,1);
}
.vocs_select_options_container li{
    height: 50px;
    padding: 10px 0 10px 0;
    list-style-type: none;
    border-bottom: 1px solid #d5d5d5;
}

.vocs_select_options_container span {
    margin: 5px 10px 5px 5px;
    font-size: 1.4em;
    background: #1891ff;
    color:white;
    text-align:center;
    border: 2px solid white;
    border-radius: 20%;
    box-shadow:0 0 1px #333;
    z-index: 2000;
    padding: 3px;
}

.vocs_select_options_container li:nth-child(even){
    background: #efefef;
}
/*
   Custom select Container
 ******************************************/

/*****************************************
   Container for Date/time
 */
.vocs_date_time_container {
    position: absolute;
    border: 3px solid #48b1ff;
    border-radius: 3px;
    max-height: 250px;
    min-width: 200px;
    z-index: 2000;
    background-color: white;
    -webkit-box-shadow: 0 0 49px 2px rgba(153, 153, 153, 1);
    -moz-box-shadow: 0 0 49px 2px rgba(153, 153, 153, 1);
    box-shadow: 0 0 49px 2px rgba(153, 153, 153, 1);
}

.vocs_date_time_msg {
    font-weight: bold;
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid #d5d5d5;
    background: #efefef

}
.vocs_date_time_current_value {
    padding: 10px;
    height: 40px;
}
/*
   Container for Date/time
 ******************************************/
#vocs_logo {
    display: none;
    height: 150px;
    -webkit-animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}