/*   Full screen transparent overlay container for highlighting*/
.vocs_overlay {
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    cursor: pointer;
}
/*****************************************
   highlighting for many selected Elements
 */
.vocs_multiple_select_wrapper_container{
    position: absolute;
}
.vocs_multiple_select_wrapper {
    padding: 10px 0 10px 0;
    position:relative; !important;
    box-shadow: 0 0 5px #2f2f2f; !important;
    min-width: 70px; !important;
    z-index: 2000;
    border: 3px solid #48b1ff;
    opacity: 0.7;
}

.vocs_multiple_select_wrapper[data-number]:after {
    content:attr(data-number);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size: 1.1em;
    background: #474747;
    color:white;
    width:30px;
    height:30px;
    text-align:center;
    line-height: 26px;
    border: 2px solid white;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    z-index: 2000;
}
/*
   highlighting for many selected Elements
 ***********************************************/

/*****************************************
   highlighting for many selected Elements
 */
.vocs_select_options_container{
    position: absolute;
    border: solid 2px #b8b8b8;
    border-radius: 3px;
    width: 200px;
    max-height: 200px;
    overflow: scroll;
    z-index: 2000;
    background-color: white;
}
.vocs_select_options_container li{
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid #d5d5d5;
}

.vocs_select_options_container span {
    font-size: 1.5em;
    background: #1891ff;
    color:white;
    text-align:center;
    border: 2px solid white;
    border-radius: 20%;
    box-shadow:0 0 1px #333;
    z-index: 2000;
    padding: 3px;
    margin-right: 10px;
}

.vocs_select_options_container li:nth-child(even){
    background: #efefef;
}
/*****************************************
   highlighting for many selected Elements
 */


